.header__menu:after {
  content: "";
  display: block;
  clear: both;
}

.toggle-menu,
.header__carousel-hed,
.header__carousel-hed2,
.header__carousel-hed3,
.header__carousel-hed4,
.header__carousel-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__carousel-control_left,
.header__carousel-control_right {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.header__carousel-control_left:hover,
.header__carousel-control_right:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
}

.header__carousel-button {
  display: inline-block;
  padding: 15px 40px;
  background: #ec4848;
  color: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.header__carousel-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #e71a1a;
}

.header__carousel-button:visited {
  color: #fff;
}

.header__menu:after {
  content: "";
  display: block;
  clear: both;
}

.toggle-menu,
.header__carousel-hed,
.header__carousel-hed2,
.header__carousel-hed3,
.header__carousel-hed4,
.header__carousel-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__carousel-control_left,
.header__carousel-control_right {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.header__carousel-control_left:hover,
.header__carousel-control_right:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
}

.header__carousel-button {
  display: inline-block;
  padding: 15px 40px;
  background: #ec4848;
  color: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.header__carousel-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #e71a1a;
}

.header__carousel-button:visited {
  color: #fff;
}

.header__menu:after {
  content: "";
  display: block;
  clear: both;
}

.toggle-menu,
.header__carousel-hed,
.header__carousel-hed2,
.header__carousel-hed3,
.header__carousel-hed4,
.header__carousel-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__carousel-control_left,
.header__carousel-control_right {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.header__carousel-control_left:hover,
.header__carousel-control_right:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
}

.header__carousel-button {
  display: inline-block;
  padding: 15px 40px;
  background: #ec4848;
  color: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.header__carousel-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #e71a1a;
}

.header__carousel-button:visited {
  color: #fff;
}

.outline,
.outline * {
  outline: 1px solid #000;
}

.outline--white,
.outline--white * {
  outline: 1px solid #fff;
}

.b-wrapper,
.b-wrapper_5 {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
}

.b-wrapper:after,
.b-wrapper_5:after {
  content: " ";
  display: block;
  clear: both;
}

.b-wrapper_5 {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.b-wrapper_5:after {
  content: " ";
  display: block;
  clear: both;
}

.l-hed__mg {
  margin-right: 25px !important;
}

body {
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

section {
  padding-left: 10px;
  padding-right: 10px;
}

/* carousel */

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-inner .item {
  width: 100%;
  height: 100%;
}

/*end carousel*/

.l-collapse {
  margin-top: 0;
}

.l-left {
  text-align: left;
}

.b-heading,
.b-heading_white,
.b-heading_margin {
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #3f444a;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.b-heading_white {
  color: #fff;
}

.b-heading-text,
.b-heading-text_white {
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.125em;
  color: #565d66;
  text-align: center;
  width: 65.76577%;
  float: left;
  margin-right: 2.7027%;
  margin-left: 17.11712%;
  float: none;
  margin-bottom: 60px;
}

.b-heading-text_white {
  color: #fff;
}

.b-footer_heading {
  font-size: 1.375em;
  color: #fff;
  margin-left: -16px;
}

@font-face {
  font-family: 'adventurer';
  src: url("../fonts/fontello/adventurer.eot?88458352");
  src: url("../fonts/fontello/adventurer.eot?88458352#iefix") format("embedded-opentype"), url("../fonts/fontello/adventurer.woff2?88458352") format("woff2"), url("../fonts/fontello/adventurer.woff?88458352") format("woff"), url("../fonts/fontello/adventurer.ttf?88458352") format("truetype"), url("../fonts/fontello/adventurer.svg?88458352#adventurer") format("svg");
  font-weight: normal;
  font-style: normal;
}



[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "adventurer";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-download:before {
  content: '\e800';
}

/* '' */

.icon-line-graph:before {
  content: '\e801';
}

/* '' */

.icon-link:before {
  content: '\e802';
}

/* '' */

.icon-magnifying-glass:before {
  content: '\e803';
}

/* '' */

.icon-pill:before {
  content: '\e804';
}

/* '' */

.icon-plug:before {
  content: '\e805';
}

/* '' */

.icon-repeat:before {
  content: '\e806';
}

/* '' */

.icon-shop:before {
  content: '\e807';
}

/* '' */

.icon-user:before {
  content: '\e808';
}

/* '' */

.icon-zoom:before {
  content: '\e809';
}

/* '' */

.icon-basket:before {
  content: '\e80a';
}

/* '' */

.icon-cog:before {
  content: '\e80b';
}

/* '' */

/* NAVICONE-MENU */

/*****************/

.toggle-menu {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  height: 25px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.toggle-menu_active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.toggle-menu__toggle,
.toggle-menu__toggle:after,
.toggle-menu__toggle:before {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 5px;
  height: 5px;
  background: #3f444a;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.toggle-menu__toggle:after {
  content: "";
  display: block;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: absolute;
  top: 10px;
}

.toggle-menu__toggle:before {
  content: "";
  display: block;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: absolute;
  bottom: 10px;
}

/* HIDE MENU */

/*************/

.hide-menu {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  z-index: 16;
  text-align: center;
  padding-top: 55px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hide-menu_active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 0 !important;
}

.hide-menu__item {
  display: none;
}

.hide-menu__item-link {
  display: inline-block;
  color: #3f444a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  padding: 9px;
}

.hide-menu__item-link:hover,
.hide-menu__item-link:focus {
  color: #ec4848;
}

.hide-menu_active-animated {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes hideMenuAnimation {
  from {
    right: -100%;
  }

  20% {
    right: 0%;
  }

  35% {
    right: -10%;
  }

  60% {
    right: 0%;
  }

  75% {
    right: -1%;
  }

  to {
    right: 0;
  }
}

@keyframes hideMenuAnimation {
  from {
    right: -100%;
  }

  20% {
    right: 0%;
  }

  35% {
    right: -10%;
  }

  60% {
    right: 0%;
  }

  75% {
    right: -1%;
  }

  to {
    right: 0;
  }
}

/* HEADER */

/**********/

.header {
  height: 100vh;
  max-height: 800px;
  position: relative;
  overflow: hidden;
}

.header__top-block {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 17;
}

.header__logo {
  float: left;
  margin-top: 2px;
}

.header__logo-link {
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.125em;
  color: #ec4848;
}

.header__logo-link:hover {
  color: #ec4848;
}

.header__logo-link:visited {
  color: #ec4848;
}

.header__list {
  float: right;
  position: relative;
}

.header__item {
  float: left;
  margin-right: 15px;
}

.header__item_toggle {
  position: relative;
  padding: 23px 10px;
  display: none;
}

.header__item_toggle:hover .toggle-menu__toggle,
.header__item_toggle:hover .toggle-menu__toggle:after,
.header__item_toggle:hover .toggle-menu__toggle:before {
  background: #ec4848;
}

.header__item-link {
  display: inline-block;
  color: #3f444a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  padding: 9px;
  line-height: 2.1875em;
}

.header__item-link:hover,
.header__item-link:focus {
  color: #ec4848;
}

.header__search {
  padding: 13px 20px;
  background: #fff;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  right: 0;
  top: 47px;
  display: none;
}

.header__icon-zoom {
  font-size: 1.625em;
}

.header__search-box {
  width: 180px;
  outline: none;
  padding: 1px 4px 0;
  color: #3f444a;
}

.header__carousel {
  background: url("../img/back.jpg");
  background-size: cover;
  height: 100%;
}

.header__carousel:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.48);
}

.header__carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.header__carousel-hed {
  -webkit-transform: translate(-50%, -162%);
  -ms-transform: translate(-50%, -162%);
  transform: translate(-50%, -162%);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 6vw;
}

.header__carousel-hed2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 5px;
}

.header__carousel-hed3 {
  display: block;
  -webkit-transform: translate(-50%, -425%);
  -ms-transform: translate(-50%, -425%);
  transform: translate(-50%, -425%);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 2vh;
  letter-spacing: 3px;
  white-space: nowrap;
}

.header__carousel-hed4 {
  display: block;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 4vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__carousel-button {
  -webkit-transform: translate(-50%, 164%);
  -ms-transform: translate(-50%, 164%);
  transform: translate(-50%, 164%);
}

.header__carousel-control_left {
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  left: 6%;
}

.header__carousel-control_left .fa-angle-left {
  font-size: 45px;
  -webkit-transform: translate(14px, 0px);
  -ms-transform: translate(14px, 0px);
  transform: translate(14px, 0px);
  color: #3f444a;
}

.header__carousel-control_right {
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  right: 6%;
}

.header__carousel-control_right .fa-angle-right {
  font-size: 45px;
  -webkit-transform: translate(19px, 0px);
  -ms-transform: translate(19px, 0px);
  transform: translate(19px, 0px);
  color: #3f444a;
}

.section2 {
  height: 3000px;
  background: #777;
}


@media (max-width: 768px) {
  .b-heading-text_white {
    font-size: 1em;
  }

  .header__carousel-hed2 {
    display: none;
  }

  .header__l-transfer {
    display: block;
  }
}

@media (max-width: 730px) {
  .header__item_toggle {
    display: block;
  }
}

@media (max-width: 580px) {
  .hide-menu {
    width: 50%;
    right: -50%;
  }

  .hide-menu_active {
    right: 0;
  }
}

@media (max-width: 480px) {
  .b-heading,
  .b-heading_white,
  .b-heading_margin {
    font-size: 1.3125em;
    margin-top: 45px;
    margin-bottom: 14px;
  }

  .b-heading_margin {
    font-size: 1.3125em;
    margin-bottom: 30px;
  }

  .b-heading-text,
  .b-heading-text_white {
    font-size: 14px;
    margin-bottom: 19px;
  }

  .header__carousel {
    background-position: 73%;
  }

  .header__carousel-hed3 {
    display: none;
  }
}

@media (max-width: 410px) {
  .hide-menu {
    width: 100%;
    right: -100%;
  }

  .hide-menu_active {
    right: 0;
  }

  .hide-menu_active-animated {
    right: 0;
    -webkit-animation: 1s hideMenuAnimation;
    animation: 1s hideMenuAnimation;
  }

  .header__list {
    position: static;
  }

  .header__search {
    width: 90%;
    margin: auto;
    top: 45px;
    right: 0;
    bottom: auto;
    left: 0;
  }

  .header__search-box {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .b-heading,
  .b-heading_white,
  .b-heading_margin {
    margin-top: 32px;
  }
}